/* Reset básico */
body, h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

header {
    text-align: center;
    background: #2c3e50;
    color: white;
    padding: 20px 0;
    border-radius: 8px;
}

main {
    max-width: 800px;
    margin: 20px auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    text-align: center;
    margin-bottom: 10px;
}

section {
    margin-bottom: 20px;
    padding: 15px;
    background: #ecf0f1;
    border-radius: 8px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background: white;
    margin: 5px 0;
    padding: 8px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

a {
    display: inline-block;
    text-decoration: none;
    color: white;
    background: #3498db;
    padding: 8px 15px;
    border-radius: 5px;
    text-align: center;
}

a:hover {
    background: #2980b9;
}

header {
    display: flex;
    align-items: center;
    gap: 15px;
    background: #2c3e50;
    color: white;
    padding: 20px;
    text-align: center;
}

.profile-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center top; /* Ajusta la posición dentro del círculo */
    border: 3px solid white;
}